node_modules
package-lock.json

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example~
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/

/../generated/prisma
