@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Jersey 10';
	src: url('/src/lib/assets/fonts/Jersey10-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jersey 15';
	src: url('/src/lib/assets/fonts/Jersey15-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pixelify Sans';
	src: url('/src/lib/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
