@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Jersey 10';
	src: url('/src/lib/assets/fonts/Jersey10-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jersey 15';
	src: url('/src/lib/assets/fonts/Jersey15-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pixelify Sans';
	src: url('/src/lib/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/*  Home */
.main-game-background {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('/src/lib/assets/images/light-bg.jpg');
	background-size: cover;
	background-color: var(--light);
	overflow: hidden;
}

/* Game Grid customisation */
.custom-border-outset {
	border-style: outset;
}
